@media screen and (min-width : 576px) { 
    button.b-arrow {
        width: 60px;
        height: 60px;
        left: 91%;
    }
}

@media screen and (min-width : 900px) { 
    button.b-arrow {
        width: 60px;
        height: 60px;
        left: 95%;
    }
}